<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.task61d">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Task61D">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SetupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DashboardActivity" />
        <activity android:name=".HintActivity" />
        <activity android:name=".ExplainActivity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".FlashcardsActivity" />
        <activity android:name=".StudyPlanActivity" />
        <activity android:name=".AssessmentActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".SharingActivity" />
        <activity android:name=".PurchaseActivity" />

        <activity
            android:name="com.stripe.android.paymentsheet.PaymentSheetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

    </application>
</manifest>